body::before {
  display: block;
  content: ' ';
  height: 60px;
}
.card-body img {
  width: 110px; /* Set the width */
  height: 110px; /* Set the height */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}
@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}


